<div class="aw-mod aw-topic-bar">
    <div class="clearfix">
        <span class="topic-tag">
             <a href="/?category=<%=article.category._id%>" class="category">
                <%=article.category.name%>
            </a>
         </span>
    </div>
</div>

<div class="aw-mod aw-question-detail">
    <div class="mod-head"> 
        <input type="hidden" data-user-id="<%= article.userId._id %>" id="userId"> 
        <h1><%= article.title %></h1>
        <%if(user){%>
        <div class="operate clearfix">
            <a href="javascript:void(0);" class="follow btn btn-normal btn-success pull-left" style="color: white !important" ng-click="favorite($event)" data-article-id="<%=article._id%>" data-user-id="<%=article.userId._id%>">
                <span>收藏</span> <em>|</em> <b><%= article.favoriteCount%></b>
            </a>  
            <a href="javascript:void(0);" class="follow btn btn-normal btn-success pull-left" style="color: white !important" ng-click="follow($event)" data-user-id="<%=article.userId._id%>">
                <span>关注</span> <em>|</em> <b><%= article.userId.followCount%></b>
            </a>
        </div>  
        <%}%>
    </div>
    <div class="mod-body">
        <div class="content markitup-box">
            <div class="markdown-text">
                <p><%- markdown(article.content) %></p> 
            </div>
        </div>
    </div>
    <div class="mod-footer">
        <div class="meta">
            <span class="text-color-999"><%=article.createTimeFormat%></span>
            <span class="text-color-999"><%=article.browerCount%>次浏览</span>

            <% if(user && user._id.toString() == article.userId._id.toString()) {%>
            <a href="/articles/edit/<%=article._id%>" class="aw-add-comment text-color-999">
                <i class="fa fa-edit"></i>&nbsp;编辑
            </a>
            <!-- topreply()控制器使用了这里的自定义属性 -->
            <a href="javascript:void(0)" ng-click="removeArticle($event)" 
            data-id="<%=article._id%>" data-article-user-id="<%=article.userId._id%>" class="aw-add-comment text-color-999" id="userId">
                <i class="fa fa-remove"></i> 删除
            </a>
            
            <%}%>
            <div class="pull-right more-operate">
                <!-- <% include ../share.ejs %> -->
            </div>
        </div>
    </div>
</div>